* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #fafafa;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

/* header section */
.header-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7.5px;
}

.header-section .site-logo {
  width: 124.82px;
  height: 33px;
}

.header-section nav ul {
  display: flex;
  gap: 20px;
}

.header-section .nav-button {
}

.header-section button {
  /* width: 148px;
    height: 48px;
    border: 1px solid #020043;
    color: #020043;
    border-radius: 12px; */

  width: 174px;
  height: 48px;
  top: 27px;
  left: 1126px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.header-section .nav-button img {
  margin-left: 10px;
  width: 12px;
}

/* header-section */
.hero-section {
  width: 1160px;
  height: 470px;
  margin-top: 30px;
  left: 140px;
  gap: 0px;
  border-radius: 48px;
  opacity: 0px;
  background: linear-gradient(
    179.44deg,
    rgba(0, 193, 157, 0) -25.42%,
    rgba(2, 0, 67, 0.47) 107.11%
  );
}

.hero-section img {
}

/* achievement section */
.achievement-section {
  margin-top: 30px;
  color: #020043;
}

.achievement-section h2 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 56.11px;
  text-align: center;
  margin-bottom: -100px;
}

.achievement-section .card-container {
  display: flex;
  align-items: end;
  gap: 40px;
  /* text-align: left; */
}

.achievement-section .card {
  width: 216px;
  border-radius: 24px;
  background-color: #fff;
  padding: 20px;
  text-align: left;
  border: 0.5px solid #02004333;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-1,
.card-5 {
  height: 323px;
}

.card-1 div,
.card-5 div {
  display: flex;
  justify-content: center;
}

.card-2,
.card-4 {
  height: 190px;
}

.card-2 div,
.card-4 div {
  display: flex;
  justify-content: end;
}

.card-3 {
  height: 162px;
}

.achievement-section .card h3 {
  font-family: Inter;
  font-size: 40px;
  font-weight: 600;
  line-height: 46.76px;
}
.achievement-section .card p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  /* text-align: left; */
}
.achievement-section .card img {
}

.card {
}

.card-1 img {
  width: 130.36px;
  height: 130.5px;
  top: 797px;
  left: 183px;
  gap: 0px;
  opacity: 0px;
}

.card-2 img {
  width: 77px;
  height: 77px;
  top: 851px;
  left: 495px;
  padding: 1.28px;
  gap: 0px;
  opacity: 0px;
}

.card-3 img {
  width: 32px;
  height: 32px;
  top: 812px;
  left: 706px;
  padding: 0.25px 0.01px 0.77px 0.01px;
  gap: 0px;
  opacity: 0px;
}

.card-4 img {
  width: 90.12px;
  height: 72px;
  top: 856px;
  left: 953.01px;
  gap: 0px;
  opacity: 0px;
}

.card-5 img {
  width: 132.73px;
  height: 127.58px;
  top: 798px;
  left: 1126px;
  gap: 0px;
  opacity: 0px;
}

/* about section styles starts here */
.about-section {
  padding: 50px 0;
}
.about-container {
  display: flex;
  justify-content: space-between;
}

.about-content {
  width: 470px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #020043;
}
.about-content h5 {
  text-align: center;
  width: 139px;
  padding: 10px;
  /* height: 43.4px; */
  gap: 0px;
  border-radius: 25px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #343268;
}
.about-content h3 {
  width: 396px;
  height: 108px;
  gap: 0px;
  opacity: 0px;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
}
.about-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.about-content button {
  width: 158.31px;
  height: 51.31px;
  top: 1503px;
  left: 139px;
  padding: 12px 16px 12px 24px;
  gap: 4px;
  border-radius: 12px;
  opacity: 0px;
  background-color: #ffc637;
  font-weight: bold;
  border: 0;
}

.about-content button img {
  margin-left: 10px;
  width: 12px;
}

.about-image {
  width: 568px;
}

.about-image img {
  position: relative;
  gap: 0px;
  border-radius: 32px;
}

.about-image .overlay {
  position: absolute;
  width: 395px;
  /* height: 210px; */
  top: 1354px;
  left: 580px;
  gap: 0px;
  border-radius: 32px;
  opacity: 0px;
  background-color: #343268;
  color: #fff;
  padding: 24px;
}

.about-image .overlay h4 {
  width: 263px;
  height: 24px;
  top: 1401px;
  left: 666px;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 20px;

  font-family: Inter;
  font-size: 26px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.about-img .overlay-content p {
  width: 347px;
  height: 72px;
  top: 1445px;
  left: 666px;
  gap: 0px;
  opacity: 0px;
}
/* about section styles ends here */

/* servive section styles starts here */
.service-section {
  padding: 50px 0;
}
.service-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
}
.service-content {
  width: 470px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #020043;
}
.service-content h5 {
  text-align: center;
  width: 139px;
  padding: 10px;
  /* height: 43.4px; */
  gap: 0px;
  border-radius: 25px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #343268;
}
.service-content h3 {
  width: 396px;
  height: 108px;
  gap: 0px;
  opacity: 0px;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
}
.service-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.service-content button {
  width: 158.31px;
  height: 51.31px;
  top: 1503px;
  left: 139px;
  padding: 12px 16px 12px 24px;
  gap: 4px;
  border-radius: 12px;
  opacity: 0px;
  background-color: #ffc637;
  font-weight: bold;
  border: 0;
}

.service-content button img {
  margin-left: 10px;
  width: 12px;
}

.service-card {
  position: relative;
  /* gap: 0px;
  border-radius: 32px; */
}
.service-card img {
  /* position: relative; */
  gap: 0px;
  border-radius: 32px;
}

.service-card .overlay {
  position: absolute;
  width: 321px;
  height: 144px;
  top: 236px;
  left: 16px;
  gap: 0px;
  border-radius: 20px;
  opacity: 0px;
  background-color: rgba(2, 0, 67, 0.8);
  padding: 21px;
  color: #fff;
}

.service-card .overlay h4 {
  width: 263px;
  height: 24px;
  top: 1401px;
  left: 666px;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 31px;
  text-align: left;
}
.service-card .overlay-content p {
  width: 347px;
  height: 72px;
  top: 1445px;
  left: 666px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}
/* servive section styles ends here */

/* testimonial section styles ends here */
.testimonial-section {
  padding: 50px 0;
}

.testimonial-content {
  color: #020043;
}

.testimonial-content h5 {
  text-align: center;
  width: 139px;
  padding: 10px;
  /* height: 43.4px; */
  gap: 0px;
  border-radius: 25px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #343268;
}

.testimonial-content h3 {
  /* width: 396px;
  height: 108px;
  gap: 0px;
  opacity: 0px; */
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
}

.testimonial-cards {
  display: flex;
  justify-content: space-around;
  color: #020043;
}

.testimonial-card {
  width: 371px;
  height: 241px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}
.testimonial-card h4 {
  width: 331px;
  height: 57px;
  font-size: 19px;
  font-weight: 600;
  line-height: 28.5px;
  text-align: left;
  
}
.testimonial-card p {
  width: 331px;
  /* height: 72px; */
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  margin: 10px 0;
}
.testimonial-card img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.testimonial-card .inner-div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.testimonial-card div p {
}
.testimonial-card .rating {
}

.testimonial-card .rating i{
  color: rgba(255, 224, 61, 1);
  margin: 0;
}
/* testimonial section styles ends here */
